<h1>Add a dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, as: :select, collection: @ingredients %>
  <%= f.submit "Add a dose", class: "btn btn-primary" %>
<% end %>

<%= link_to "View all Cocktails", cocktails_path %>
